.title-1 {
  @extend .carousel-text;
  font-size: 2rem;
}
.title-2 {
  font-size: 1.5rem;
  font-style: regular;
}
.desc-1 {
  @extend .carousel-text;
  padding-top: 20px;
  font-size: 0.7rem;
}
.desc-2 {
  padding-top: 20px;
  font-size: 0.7rem;
  color: grey;
}
.author-1 {
  @extend .carousel-text;
  padding-top: 20px;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.author-2 {
  padding-top: 20px;
  font-size: 0.7rem;
  text-transform: uppercase;
}

