/*Font*/
body {
  font-family: 'Lato', sans-serif;
}

// Color

$color-primary: #ed485c;
$color-font: #696969;
$color-a: #ffffff;
$color-b: #242424;
$color-c: #999999;
$color-d: #fafafa;
$color-menu: #f8f8f8;
$color-menu-bg: #121516;
